.marsweatherslide
{
  background-color: yellow;
  height:33%;
  width:100%;
}

.marsphotoslide
{
  background-color: blue;
  height: 33%;
  width:100%;

}

.marsnumberslide
{
  background-color: red;
  height: 33%;
  width: 100%;
}
